<div class="site-wrap">
    <header class="site-navbar bg-dark border-bottom border-body" data-bs-theme="dark" role="banner">
        <div class="site-navbar-top">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/home" style="border: none;"><img src="/images/logo.jpg" alt="Your Logo" height="70" ></a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left ">
                        <form action="/products" method="GET" class="site-block-top-search">
                            <span class="icon icon-search2 px-3"></span>
                            <input type="text" name="search" class="form-control border-0 pl-5" placeholder="Search">
                        </form>
                    </div>

                    <div class="col-6 col-md-4 order-3 order-md-3 text-right ">
                        <div class="site-top-icons ">
                            <ul>
                                <li><a href="/profile"><span
                                            class="icon icon-person bg-light border border-danger rounded border-5 p-2"></span></a>
                                </li>
                                <li><a href="/wishlist"><span
                                            class="icon icon-heart-o bg-light border border-danger rounded border-5 p-2"></span></a>
                                </li>
                                <li>
                                    <a href="/cart" class="site-cart ">
                                        <span
                                            class="icon icon-shopping_cart bg-light border border-danger rounded border-5 p-2"></span>
                                        
                                    </a>
                                </li>
                                <!-- Add the logout button with the SVG icon -->
                                <li><a href="/logout"><img src="/images/power.svg" alt="Logout" class="bg-light border border-danger rounded border-5 p-3 "></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav" style="align-self: center;">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/products" id="menDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MEN
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menDropdown">
                                <% categories.forEach(category => { %>
                                    <a class="dropdown-item" href="/products?gender=men&category=<%= category._id %>">
                                      <%= category.name %>
                                    </a>
                                  <% }); %>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/products" id="menDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                WOMEN
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menDropdown">
                                <% categories.forEach(category => { %>
                                    <a class="dropdown-item" href="/products?gender=women&category=<%= category._id %>">
                                      <%= category.name %>
                                    </a>
                                  <% }); %>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="menDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                UNISEX
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menDropdown">
                                <% categories.forEach(category => { %>
                                    <a class="dropdown-item" href="/products?gender=unisex&category=<%= category._id %>">
                                      <%= category.name %>
                                    </a>
                                  <% }); %>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>