<%- include('../layouts/user-header') -%>


    <%- include('../layouts/user-navbar') -%>

        <main class="container">
            <div class="row col-12">
                <div class="col-md-8 offset-md-2 p-3">

                    <!-- Congratulations Section -->
                    <section class="border rounded">
                        <div class="d-flex justify-content-center">
                            <div class="tick-icon">&#10004;</div>
                        </div>
                        <div>
                            <h3>Congratulations! Order Confirmed</h3>
                            <p style="background-color: rgb(229, 251, 251); padding: 5px;margin-top: 50px;">You will
                                receive the items as
                                soon as possible. Thanks for doing business with us.</p>
                        </div>
                    </section>

                    <!-- Order Details Section -->
                    
            <% orders.forEach(order => { %>

                <section class="row border rounded p-3 ml-1">
                    <h5 class="col-md-12 pl-2 mb-3">Order Details : </h5>
                    <!-- Placeholder for order details content -->
                    <div class="col-md-5 mb-1 pb-1">
                        <p>Product: <strong><%= order.brandName %></strong>  <%= order.productName %> </p>
                        <p>SIze: <%= order.size %></p>
                        <p>Quantity: <%= order.quantity %></p>
                    </div>
                    <div class="col-md-5 mb-1 pb-1">
                        <p>Total Initial Price: $<%= order.totalInitialMrp %></p>
                        <p>Discount Amount: $<%= order.totalInitialMrp - order.totalFinalAmount %></p>
                        
                    </div>
                    <div class="col-md-5 mb-2 pb-1 mt-3">
                        <p style="font-size: larger; font-weight: 600;">Total MRP: $<%= order.totalFinalAmount %></p>
                    </div>
                </section>

                <% }); %>
                    <!-- Shipping Address Section -->
                    <section class="border rounded p-3">
                        <h5>Shipping Address : </h5>
                        <!-- Placeholder for address details content -->
                        <div class="content mt-4 p-2" style="background-color: rgb(229, 251, 251);">
                            <p class="py-0 my-0">
                                <%= orders[0].address.name %> | <%= orders[0].address.phoneNumber %>
                            </p>
                            <p class="py-0 my-0">
                                <%= orders[0].address?.addressLine1 %>, <%= orders[0].address.city %>, <%= orders[0].address.state %>
                                            , <%= orders[0].address.zipCode %>
                            </p>
                            <!-- Add more address details as needed -->
                        </div>
                    </section>

                    <!-- Home Button Section -->
                    <section class="border rounded p-3 ">
                        <div class="row d-flex justify-content-center my-3 py-2">
                            <a href="/home" class="btn btn-primary">Home</a>
                        </div>

                        <p style="background-color: rgb(229, 251, 251);padding:5px">Please redirect to HOME page and
                            shop
                            more.</p>

                    </section>

                </div>
            </div>

        </main>




        <%- include('../layouts/user-footer') -%>