<%- include('../layouts/user-header') -%>
    <style>
        #image-container {
            display: flex;
            align-items: center;
            position: relative;
        }

        #thumbnail-container {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }

        .thumbnail {
            width: 70px;
            border: #000000;
            height: auto;
            cursor: pointer;
            margin-bottom: 10px;
        }

        #main-image {

            width: 100%;
            height: 600px;
            object-fit: cover;
            /* This property will stretch the image to cover the specified dimensions */
            object-position: center;
            /* This property will center the image within the container */

        }

        .expand-button {
            position: absolute;
            bottom: 1.5rem;
            right: 2rem;
            cursor: pointer;
            background-color: #fff;
            padding: 5px;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .custom-modal .modal-dialog {
            max-width: 83.333333%;
            /* 10/12 grid width */
        }

        .custom-modal .modal-body {
            padding: 0;
        }

        .custom-modal img {
            width: 100%;
            height: auto;
            object-fit: contain;

        }

        .custom-modal {
            z-index: 2050;
        }

         .modal-backdrop {
            z-index: 2040;
        }

        /* Extra Small (xs) */
        @media (max-width: 575.98px) {
            /* Your styles for extra small screens go here */
            .thumbnail {
                width: 40px;
            }

            #main-image {

                width: 100%;
                height: 240px;
                

            }
            .img-zoom-result{
                width: 95%;
                height: 240px;
            }
        
        }

        /* Small (sm) */
        @media (min-width: 576px) and (max-width: 767.98px) {
            /* Your styles for small screens go here */

            .thumbnail {
                width: 40px;
            }

            #main-image {

                width: 100%;
                height: 300px;
                

            }
            .img-zoom-result{
                width: 63%;
                height:300px;
            }

        }

         
         @media (min-width: 768px) and (max-width: 991.98px) {
            /* Your styles for small screens go here */

            .thumbnail {
                width: 50px;
            }

            #main-image {

                width: 100%;
                height: 450px;
                

            }
            .img-zoom-result{
                width: 80%;
                height: 450px;
            }
            

        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
            /* Your styles for small screens go here */

           

           
            .img-zoom-result{
                width: 30%;
                height: 450px;
            }
            

        }
        @media (min-width: 1200px) {
            /* Your styles for small screens go here */

           

           
            .img-zoom-result{
                width: 38%;
                height: 450px;
            }
            

        }

        /* New styles for image zoom */
  .img-zoom-container {
    position: relative;
  }

  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 200px;
    height: 200px;
  }

  .img-zoom-result {
    border: 1px solid #d4d4d4;
    height: 600px;
  }


 

  


    </style>

    <div class="site-wrap">
        <%- include('../layouts/user-navbar') -%>
            <%- include('../layouts/_messages') -%>

                <div class="site-section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class=" col-12 col-sm-12 col-md-11 col-lg-8 col-xl-7 pl-0 ml-0">
                                <!-- Reduced width for the image -->
                                <div id="image-container" class="image-zoom-container">
                                    <div id="thumbnail-container" class=" col-1 col-sm-2 col-md-1">
                                        <img class="thumbnail mb-3"
                                            src="/images/productImages/<%= product.images.image1.name %>"
                                            alt="Thumbnail 1" onclick="changeImage(this.src)">
                                        <img class="thumbnail my-3"
                                            src="/images/productImages/<%= product.images.image2.name %>"
                                            alt="Thumbnail 2" onclick="changeImage(this.src)">
                                        <img class="thumbnail my-3"
                                            src="/images/productImages/<%= product.images.image3.name %>"
                                            alt="Thumbnail 3" onclick="changeImage(this.src)">
                                        <img class="thumbnail my-3"
                                            src="/images/productImages/<%= product.images.image4.name %>"
                                            alt="Thumbnail 4" onclick="changeImage(this.src)">
                                        <!-- Add more thumbnails as needed -->
                                    </div>
                                    <div class="col-11 col-sm-10 col-md-11">
                                        <img id="main-image"
                                            src="/images/productImages/<%= product.images.image1.name %>" alt="Image"
                                            class="img-fluid">
                                        <div class="expand-button" onclick="expandImage()">
                                            <i class="icon-expand"></i> <!-- You can use your own expand icon here -->
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                            <div id="img-zoom-result" class="img-zoom-result" class=" col-12 col-sm-8 col-md-10 offset-md-1 offset-sm-2 col-lg-4 col-xl-5 pl-3 ml-lg-0 pt-5 mt-5 mt-sm-5 mt-lg-0 border border-danger rounded">

                            </div>
                            <div class=" col-10 offset-1 col-md-6 offset-md-3 pl-3  pt-5 mt-5 pb-2  border border-danger rounded" id="details-box" >

                                <!-- Brand name -->
                                <h2 class="text-black">
                                    <%= product.brandName %>
                                </h2>

                                <!-- Product name -->
                                <p class="text-muted my-md-4 my-sm-3 my-3">
                                    <%= product.productName %>
                                </p>
                                <!-- Price with actual price as deleted and offer in horizontal row -->
                                <p class="my-md-5 my-sm-3 my-3">
                                    <strong class="text-danger h4">
                                        <%= product.finalPrice %>
                                    </strong>
                                    <del class="text-muted">
                                        <%= product.initialPrice %>
                                    </del>
                                    <span class="badge badge-success ml-2">-<%= product.discountPercentage %>%</span>
                                </p>

                                <div class="my-md-5 my-sm-1 my-1">
                                    <label class="btn btn-outline-danger rounded-pill">
                                        <input type="radio" name="size" value="size"> S
                                    </label>
                                    <label class="btn btn-outline-danger rounded-pill">
                                        <input type="radio" name="size" value="medium"> M
                                    </label>
                                    <label class="btn btn-outline-danger rounded-pill">
                                        <input type="radio" name="size" value="large"> L
                                    </label>
                                    <label class="btn btn-outline-danger rounded-pill">
                                        <input type="radio" name="size" value="extraLarge"> XL
                                    </label>
                                </div>
                                <!-- Quantity selection with input group -->
                                <div class="input-group my-md-5 my-sm-1 my-1" style="width:105px;">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-danger rounded-pill" type="button"
                                            id="minusBtn">-</button>
                                    </div>
                                    <input type="text" class="form-control text-center rounded-pill quantity-input"
                                        value="1" min="1" max="10" id="quantityInput" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-danger rounded-pill" type="button"
                                            id="plusBtn">+</button>
                                    </div>
                                </div>

                                <!-- Add to wishlist and Add to cart buttons -->
                                <div class="mt-0 mt-sm-0 mt-md-5 mb-md-0 mb-sm-2 mb-2 pt-2 pt-sm-2 pt-md-5 d-flex justify-content-between">
                                    <a href="#" class="btn btn-outline-primary btn-sm mr-2" onclick="addToWishlist('<%= product._id %>')">Add to <br> Wishlist</a>
                                    <a href="#" class="buy-now btn btn-sm btn-outline-brown bg-danger text-white" onclick="addToCart('<%= product._id %>')">Add To
                                        <br> Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Detailed description taking full width -->
                        <div class="row">
                            <div class="col-12 col-sm-8 offset-sm-2 col-md-10 offset-md-1  mt-3 pt-5  pt-sm-5 pl-3 pl-sm-5 border rounded border-warning bg-dark text-white "
                                style="height: 300px;max-height: fit-content;">
                                <h4 class="mb-5">Details</h4>
                                <p> <%= product.description %> </p>
                                <h6>Colors : <%= product.colors.join(', ') %></h6>
                                <h6>Suitable Gender : <%= product.genders %></h6>
                                <h6>Category : <%= product.category?.name %></h6>
                                
                                
                </div>
            </div>
        </div>
    </div>
</div>



<script>


function getSelectedSize() {
        // Logic to get the selected size, you might need to adjust based on your HTML structure
        const sizeInput = document.querySelector('input[name="size"]:checked');
        return sizeInput ? sizeInput.value : null;
    }

    function getQuantity() {
        // Logic to get the quantity, you might need to adjust based on your HTML structure
        const quantityInput = document.getElementById('quantityInput');
        return quantityInput ? parseInt(quantityInput.value, 10) : 1;
    }



    async function addToWishlist(productId) {
        const selectedSize = getSelectedSize();

        if (!selectedSize) {
            console.error('Please select a size.');
            return;
        }

        try {
            // Use fetch to send an HTTP request to your server's API endpoint for adding to wishlist
            const response = await fetch(`/api/add-to-wishlist/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ size: selectedSize }),
            });

            if (response.ok) {
                // Wishlist item added successfully
                console.log('Added to Wishlist!');
                
            } else {
                console.error('Failed to add to Wishlist.');
            }
        } catch (error) {
            console.error('Error adding to Wishlist:', error.message);
        }
    }

    async function addToCart(productId) {

        const size = getSelectedSize();
        const quantity = getQuantity();
        

        if (!size || isNaN(quantity) || quantity < 1) {
            console.error('Invalid size or quantity.');
            return;
        }

        try {
            // Use fetch to send an HTTP request to your server's API endpoint for adding to cart
            const response = await fetch(`/add-to-cart/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ size, quantity }),
            });

            if (response.ok) {
                // Cart item added successfully
                console.log('Added to Cart!');
            } else {
                console.error('Failed to add to Cart.');
            }
        } catch (error) {
            console.error('Error adding to Cart:', error.message);
        }
    }




// Call imageZoom function for your main image
document.addEventListener("DOMContentLoaded", function () {
    imageZoom("main-image", "img-zoom-result", 100, 100);
  });



function imageZoom(imgID, resultID) {
    var img, lens, result, cx, cy;
    img = document.getElementById(imgID);
    result = document.getElementById(resultID);
    /* create lens: */
    lens = document.createElement("DIV");
    lens.setAttribute("class", "img-zoom-lens");
    /* insert lens: */
    img.parentElement.insertBefore(lens, img);
    /* calculate the ratio between result DIV and lens: */
    cx = result.offsetWidth / lens.offsetWidth;
    cy = result.offsetHeight / lens.offsetHeight;
    /* set background properties for the result DIV: */
    result.style.backgroundImage = "url('" + img.src + "')";
    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
    /* execute a function when someone moves the cursor over the image, or the lens: */
    lens.addEventListener("mousemove", moveLens);
    img.addEventListener("mousemove", moveLens);
    /* and also for touch screens: */
    lens.addEventListener("touchmove", moveLens);
    img.addEventListener("touchmove", moveLens);

    function moveLens(e) {
      var pos, x, y;
      /* prevent any other actions that may occur when moving over the image: */
      e.preventDefault();
      /* get the cursor's x and y positions: */
      pos = getCursorPos(e);
      /* calculate the position of the lens: */
      x = pos.x - (lens.offsetWidth / 2);
      y = pos.y - (lens.offsetHeight / 2);
      /* prevent the lens from being positioned outside the image: */
      if (x > img.width - lens.offsetWidth) {
        x = img.width - lens.offsetWidth;
      }
      if (x < 0) {
        x = 0;
      }
      if (y > img.height - lens.offsetHeight) {
        y = img.height - lens.offsetHeight;
      }
      if (y < 0) {
        y = 0;
      }
      /* set the position of the lens: */
      lens.style.left = x + "px";
      lens.style.top = y + "px";
      /* display what the lens "sees": */
      result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
    }

    function getCursorPos(e) {
      var a, x = 0, y = 0;
      e = e || window.event;
      /* get the x and y positions of the image: */
      a = img.getBoundingClientRect();
      /* calculate the cursor's x and y coordinates, relative to the image: */
      x = e.pageX - a.left;
      y = e.pageY - a.top;
      /* consider any page scrolling: */
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return { x: x, y: y };
    }
  }



    
    function changeImage(newSrc) {
        document.getElementById('main-image').src = newSrc;
        imageZoom("main-image", "img-zoom-result", 100, 100);
    }

    // Define the expandImage function with showPrevImage and showNextImage
    function expandImage() {
        var mainImageSrc = document.getElementById('main-image').src;

        // Fetch image paths from the database (replace this with your actual code)
        // For demonstration purposes, we're using a hardcoded array
        var imagePathsFromDatabase = [
            "/images/productImages/<%= product.images.image1.name %>",
            "/images/productImages/<%= product.images.image2.name %>",
            "/images/productImages/<%= product.images.image3.name %>",
            "/images/productImages/<%= product.images.image4.name %>",
            // Add more image paths as needed
        ];

        // Function to show the previous image
        function showPrevImage() {
            console.log("prev button clicked");
            var currentIndex = imagePathsFromDatabase.indexOf(mainImageSrc);
            var prevIndex = (currentIndex - 1 + imagePathsFromDatabase.length) % imagePathsFromDatabase.length;
            mainImageSrc = imagePathsFromDatabase[prevIndex];
            document.getElementById('modal-image-container').innerHTML = `
                <button class="btn btn-light prev-btn" onclick="expandImage.showPrevImage()" style="position: absolute; top: 50%; left: 0; transform: translateY(-50%);">&lt;</button>
                <img src="${mainImageSrc}" alt="Enlarged Image" class="img-fluid">
                <button class="btn btn-light next-btn" onclick="expandImage.showNextImage()" style="position: absolute; top: 50%; right: 0; transform: translateY(-50%);">&gt;</button>
            `;
        }

        // Function to show the next image
        function showNextImage() {
            console.log("next button clicked");
            var currentIndex = imagePathsFromDatabase.indexOf(mainImageSrc);
            var nextIndex = (currentIndex + 1) % imagePathsFromDatabase.length;
            mainImageSrc = imagePathsFromDatabase[nextIndex];
            document.getElementById('modal-image-container').innerHTML = `
                <button class="btn btn-light prev-btn" onclick="expandImage.showPrevImage()" style="position: absolute; top: 50%; left: 0; transform: translateY(-50%);">&lt;</button>
                <img src="${mainImageSrc}" alt="Enlarged Image" class="img-fluid">
                <button class="btn btn-light next-btn" onclick="expandImage.showNextImage()" style="position: absolute; top: 50%; right: 0; transform: translateY(-50%);">&gt;</button>
            `;
        }

        // Attach the functions as properties to the expandImage function
        expandImage.showPrevImage = showPrevImage;
        expandImage.showNextImage = showNextImage;

        // Create a modal element with custom-modal class
        var modal = document.createElement('div');
        modal.className = 'modal custom-modal';
        modal.innerHTML = `
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="modal-image-container" class="position-relative">
                            <button class="btn btn-light prev-btn" onclick="expandImage.showPrevImage()" style="position: absolute; top: 50%; left: 0; transform: translateY(-50%);">&lt;</button>
                            <img src="${mainImageSrc}" alt="Enlarged Image" class="img-fluid">
                            <button class="btn btn-light next-btn" onclick="expandImage.showNextImage()" style="position: absolute; top: 50%; right: 0; transform: translateY(-50%);">&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
        `;

        // Append the modal to the body
        document.body.appendChild(modal);

        // Initialize the Bootstrap modal
        $(modal).modal('show');

        // Remove the modal from the DOM when it is hidden
        $(modal).on('hidden.bs.modal', function () {
            document.body.removeChild(modal);
        });
    }
</script>








 <%- include('../layouts/user-footer') -%>